.contact {
    text-align: center;
  }
  
  .contact-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    gap: 15px; /* Tạo khoảng cách giữa icon và text */
    margin-bottom: 15px;
  }
  
  .contact-icon {
    font-size: 20px;
    color: #87CEEB ; /* Màu xanh FontAwesome */
  }
  
  .contact-item p {
    margin: 0;
    font-size: 16px;
    color: #333;
  }
  